{{ define "main" -}}

<div class="posts">
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" .Site.Params.PostDir) }}
    {{ range $paginator.Pages }}
    <article class="post">
        <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <div class="Summary">{{ .Summary | html }}……</div>
        {{ if .Truncated }}
        <div class="read-more-link">
          <a href="{{ .Permalink }}">阅读全文</a>
        </div>
        {{ end }}
    </article>
    {{ end }}
</div>
<div class="pagination">
  <span class="pagination-item older">
    {{ if .Paginator.HasPrev }}
    <a href="{{ $paginator.Prev.URL }}" class="pag-link">上一页</a>
    {{else}}
    上一页
    {{ end }}
  </span>

    <span class="pagination-item newer">
    {{ if .Paginator.HasNext }}
    <a href="{{ $paginator.Next.URL }}" class="pag-link">下一页</a>
    {{else}}
    下一页
    {{end}}
  </span>
</div>

{{- end }}