{{ define "main" -}}
<!-- {{ partial "breadcrumb.html" . }} -->
<div class="post">
  <h2>
    {{if .Parent.IsHome }}
      {{ humanize .Section }}
    {{else}}
      <a href="{{ .Section | absURL }}/">{{ humanize .Section }}</a>
    {{end}}
  </h2>
  <time datetime={{ .Date.Format "2006/01/02" }} class="post-date">
    {{ .Date.Format "2006/01/02" }}
    {{if not .Parent.IsHome }}
      #{{.Title}}
    {{end}}
  </time>
  <ul class="posts">
    {{ range .Pages -}}
    <li>
      <span>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <time class="pull-right post-list" datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">
          {{ .Date.Format "2006/01/02" }}
        </time>
      </span>
    </li>
    {{- end }}
  </ul>
</div>
{{- end }}