{{ define "main" -}}
<!-- {{ partial "breadcrumb.html" . }} -->
<div class="post">
    <h2>
        <a href="{{.Site.BaseURL}}">Index</a> /
        {{if .Parent.IsHome }}
        {{ humanize .Section }}
        {{else}}
        <a href="{{ .Section | absURL }}.html">{{ humanize .Section }}</a>
        {{end}}
        {{if not .Parent.IsHome }}
        / {{.Title}}
        {{end}}
    </h2>
    <time datetime={{ .Date.Format .Site.Params.DateFormat }} class="post-date">
        {{ .Date.Format .Site.Params.DateFormat }}
    </time>
    <ul class="posts">
        {{ range .Pages -}}
        <li>
      <span>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
          <small>{{ .Date.Format .Site.Params.DateFormat }}</small>
      </span>
        </li>
        {{- end }}
    </ul>
</div>
{{- end }}