{{ define "main" -}}
<!-- {{ partial "breadcrumb.html" . }} -->
<div class="post">
  <h2>
    <a href="{{.Site.BaseURL}}">Index</a>  / 
{{if .Parent.IsHome }}
	{{ humanize .Section }}
{{else}}
    <a href="{{ .Section | absURL }}.html">{{ humanize .Section }}</a>
{{end}}
{{if not .Parent.IsHome }}
   / {{.Title}}
{{end}}
  </h2>
  <time datetime={{ .Date.Format "2006/01/02" }} class="post-date">
    {{ .Date.Format "2006/01/02" }}
  </time>
  <ul class="posts">
    {{ range .Pages -}}
    <li>
      <span>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
<small>{{ .Date.Format "2006-01-02" }}</small>
      </span>
    </li>
    {{- end }}
  </ul>
</div>
{{- end }}