{{ define "main" -}}
<h2>
	<a href="{{.Site.BaseURL}}">Index</a>
	  {{range .Params.categories}}
       / <a href="{{ "categories" | absURL }}/{{ . | urlize }}.html">{{.}}</a>{{end}}
</h2>

<div class="post">
	<h1 class="post-title">
	{{.Title}}

<!--

<a href="{{ .Permalink }}">{{ .Title }}</a>

-->

	</h1>
  {{ partial "content_head.html" . }}
  {{ .Content }}
  {{ partial "related.html" . }}
  {{ partial "pagination.html" . }}
  <!-- {{ partial "links.html" . }} -->
</div>
<!-- {{ partial "disqus.html" . }} -->
{{end}}