{{ define "main" -}}
<h2>
	<a href="/">Index</a></li>
	  {{range .Params.categories}}
       / <a href="{{ "categories" | absURL }}/{{ . | urlize }}.html">{{.}}</a>{{end}}
</h2>

<div class="post">
	<h1 class="post-title">
	{{.Title}}

<!--

<a href="{{ .Permalink }}">{{ .Title }}</a>

-->

	</h1>
<em>
  <time class="post-date">
  {{ .Date.Format "2006-01-02T15:04:05Z0700" }}
  </time>
</em>
  {{ partial "tags.html" . }}
  {{ .Content }}
  {{ partial "links.html" . }}
  {{ partial "related.html" . }}
</div>
{{ partial "pagination.html" . }}
{{ partial "disqus.html" . }}
{{end}}