{{ define "main" -}}
<div class="post">
  <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
<h3>
	<a href="/">Index</a></li>
	  {{range .Params.categories}}
       / <a href="{{ "categories" | absURL }}/{{ . | urlize }}.html">{{.}}</a>{{end}}
</h3>
<br>
<em>
  <time datetime={{ .Date.Format "2006/01/02" }} class="post-date">
    {{ .Date.Format "2006/01/02" }} 
  </time>
</em>
  {{ partial "tags.html" . }}
  {{ .Content }}
  {{ partial "related.html" . }}
  {{ partial "links.html" . }}
</div>
{{ partial "pagination.html" . }}
{{ partial "disqus.html" . }}
{{end}}