{{- if not .Site.IsServer}}
<!-- baidu analytics -->
{{- with .Site.Params.baiduAnalytics}}
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.setAttribute("defer", "defer");
        hm.src = "https://hm.baidu.com/hm.js?{{.}}";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
{{- end}}

{{- with  .Site.Params.adsense }}
<script data-ad-client="ca-pub-{{.}}" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{{- end}}


<!-- Global site tag (gtag.js) - Google Analytics -->
{{- with .Site.Params.GA_MEASUREMENT_ID }}
<script async src="https://www.googletagmanager.com/gtag/js?id={{.}}"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        window.dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', '{{.}}');
</script>
{{- end}}

{{- end}}