{{if eq .Section  .Site.Params.PostDir}}
{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<div class="related">
    <h2>相关文章</h2>
    <ul class="related-posts">
        {{ range . }}
        <li>
            <h3>
                <a href="{{ .Permalink }}">
                    {{ .Title }}
                </a>
                <small>
                    {{ .Date.Format .Site.Params.DateFormat }}
                </small>
            </h3>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}
{{end}}