{{if eq .Section  .Site.Params.PostDir}}
<div class="pagination">
  <span class="pagination-item older">
    {{ with .PrevInSection }}
    <a href="{{ .Permalink }}" class="pag-link">上一篇</a>
    {{else}}
    上一篇
    {{ end }}
  </span>
  <span class="pagination-item newer">
    {{ with .NextInSection }}
    <a href="{{ .Permalink }}" class="pag-link">下一篇</a>
    {{else}}
    下一篇
    {{end}}
  </span>
</div>
<div class="related">
  <h2>Tags</h2>
  <ul class="related-tags">
    {{range .Params.tags}}
    <li>
      <a href="{{ "tags" | absURL }}/{{ . | urlize }}/">#{{ . }}</a>
    </li>
    {{ end }}
  </ul>
  {{ $related := .Site.RegularPages.Related . | first 5 }}
  {{ with $related }}
  <h2>相关文章</h2>
  <ul class="related-posts">
    {{ range . }}
    <li>
      <h3><a href="{{ .Permalink }}">
          {{ .Title }}
          <small>{{ .Date.Format "2006/01/02" }}</small>
        </a></h3>
    </li>
    {{ end }}
  </ul>
  {{ end }}
</div>
{{ partial "disqus.html" . }}
{{end}}